/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

div > span {
  color: aquamarine;
  font-size: 4rem;
  font-family: "Alfa Slab One", cursive;
  letter-spacing: 4px;
  animation: wavy 2s infinite;
  animation-delay: calc(0.1s * var(--i));
  display: inline-block;
}

@keyframes wavy {
  0%,
  40%,
  60%,
  100% {
    transform: translateY(0);
  }
  40% {
    color: #0000ff;
  }
  20% {
    transform: translateY(-40px);
    color: #e22bbd;
  }
}
